body {
    margin: 0;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

#startskaerm {
    width: 100%;
    height: 100%;
    background-image: url(start_skaerm.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#slutskaerm {
    width: 100%;
    height: 100%;
    background-image: url(slut_skaerm_final-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    animation-delay: 2s;

    animation-name: slutskaerm_kf;
    animation-delay: 2s;
}


@keyframes slutskaerm_kf {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 100%;
    }
}


#god_slutning {
    width: 100%;
    height: 100%;
    background-image:url(slettet_skaerm-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

}

.god_slutning_billede {
    animation-name: god_slutning_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes god_slutning_kf {
   0% {

    transform: scale(1);
    }
    100% {

    transform: scale(1);
    }
}

#bad_slutning {
    width: 100%;
    height: 100%;
    background-image:url(billede_delt-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.bad_slutning_billede {
    animation-name: bad_slutning_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes bad_slutning_kf {
    0% {

    transform: scale(1);
    }
    100% {

    transform: scale(1);
    }
}





#link {
    background-image: url(PrivatSnak_logo.svg);
    width: 30vw;
    height: 25vw;
    background-repeat: no-repeat;
    background-size: cover;

}

#link_container {
    left: 59vw;
    top: 28vw;
    position: absolute;
    z-index: 10;
}

#link:hover {
    transform: scale(1.1);
}

#link2 {
    background-image: url(PrivatSnak_logo.svg);
    width: 30vw;
    height: 25vw;
    background-repeat: no-repeat;
    background-size: cover;

}

#link2:hover {
    transform: scale(1.1);
}

#link2_container {
    left: 37vw;
    top: 0vw;
    position: absolute;
    z-index: 10;
}

#start {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 1vw 8vw;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #800404;
    font-weight: 500;
}

#start:hover {
    background-color: red;
    transform: scale(1.1);
}

#start:active {
    background-color: #c70000;
    box-shadow: 0 5px #5f0000;
    transform: translateY(4px);
}

#start_container {
    width: auto;
    height: auto;
    left: 26vw;
    top: 20vw;
    position: absolute;
    z-index: 10;
}

#baggrund {
    width: 100%;
    height: 100%;
    background-image: url(png/baggrund.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#mellemgrund {
    width: 100%;
    height: 100%;
    background-image: url(png/mellemgrund.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#forgrund {
    width: 100%;
    height: 100%;
    background-image: url(png/forgrund.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

/************************************SCENE SLUT************************************/

#text_container {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 25%;
}

#text {
    background-color: #ff9219;
    border: #ff9219;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    margin: 4px 2px;
    transition-duration: 0.4s;
    z-index: 3;
    font-family: 'Roboto', sans-serif;
    width: 50vw;
    height: 10vw;
    border-radius: 15px;
}


#valg1_container {
    width: auto;
    height: auto;
    left: 68vw;
    top: 32vw;
    position: absolute;
}

#valg2_container {
    width: auto;
    height: auto;
    top: 20vw;
    left: 68vw;
    position: absolute;
}


#valg1 {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 1.5vw 1.2vw;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: #ff9219;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px rgb(116, 82, 43);
    font-weight: 500;
}

#valg1:hover {
    background-color: #d17816
}

#valg1:active {
    background-color: #af630e;
    box-shadow: 0 5px rgb(116, 82, 43);
    transform: translateY(4px);
}


#valg2 {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 3vw 1.5vw;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: #5ecde8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #36707e;
}

#valg2:hover {
    background-color: #44a7bf
}

#valg2:active {
    background-color: #39899d;
    box-shadow: 0 5px #36707e;
    transform: translateY(4px);
}

/************************************BRUSER************************************/

#bruser_container {
    position: absolute;
    overflow: hidden;
}

.dryp_pose {
    top: 14%;
    left: 0%;
}

#bruser_sprite {
    background-image: url(media/bruser_drypper_asset.svg);
    width: 31.33vw;
    height: 47.00vw;
    background-size: 1600%;
}

.bruser_dryp {
    animation-name: bruser_dryp_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(16);
}

@keyframes bruser_dryp_kf {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: -1600%;
    }
}


/************************************BRUSER SLUT************************************/

/************************************OSKAR SPRITE************************************/

#oskar_sprite {
    background-image: url(media/SVG/oskar_spritesheet_endelig.svg);
    width: 26vw;
    height: 40.00vw;
    background-size: 2100%;
}


/******AFSLAPPET******/

.oskar_afslappet {
    background-position: 0 0;
}


/******WALKCYCLE******/

.oskar_walkcycle {
    animation-name: oskar_walkcycle_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
}

@keyframes oskar_walkcycle_kf {
    0% {
        background-position: 0% 16%;
    }
    100% {
        background-position: -400% 16%;
    }
}


/******HÅNDKLÆDE NED******/

.oskar_ned {
    animation-name: oskar_ned_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(5);
    animation-fill-mode: both;
}

@keyframes oskar_ned_kf {
    0% {
        background-position: 0% 33.5%;
    }
    100% {
        background-position: -500% 33.5%;
    }
}


/******HÅNDKLÆDE OP******/

.oskar_up {
    animation-name: oskar_up_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: steps(20);
    animation-fill-mode: both;
    animation-delay: 1s;
}

@keyframes oskar_up_kf {
    0% {
        background-position: 0% 84%;
    }
    100% {
        background-position: -2000% 84%;
    }
}


.oskar_slet_nude {
    animation-name: oskar_slet_nude_kf;
    animation-duration: 0.01s;
    animation-iteration-count: 1;
}

@keyframes oskar_slet_nude_kf {
    0% {
        background-position: -2000% 84%;
        transform: scaleX(-1);
    }
    100% {
        background-position: -2000% 84%;
        transform: scaleX(-1);
    }
}


.oskar_valg {
    background-position: -2000% 84%;
    transform: scaleX(-1);
}


/******SNAK******/

.oskar_snak {
    animation-name: oskar_snak_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
}

@keyframes oskar_snak_kf {
    0% {
        background-position: 0% 67%;
        transform: scaleX(-1);
    }
    100% {
        background-position: -900% 67%;
        transform: scaleX(-1);
    }
}


/******GRIN******/

.oskar_grin {
    animation-name: oskar_grin_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(5);
    animation-fill-mode: both;
}

@keyframes oskar_grin_kf {
    0% {
        background-position: 0% 100%;
        transform: scaleX(-1);
    }
    100% {
        background-position: -500% 100%;
        transform: scaleX(-1);
    }
}

/******lettet******/

.oskar_lettet {
    animation-name: oskar_lettet_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(4);
    animation-fill-mode: both;
}

@keyframes oskar_lettet_kf {
    0% {
        background-position: -400% 100%;
        transform: scaleX(-1);
    }
    100% {
        background-position: -400% 100%;
        transform: scaleX(-1);
    }
}

/************************************OSKAR SPRITE SLUT************************************/

/************************************OSKAR CONTAINER************************************/

#oskar_container {
    position: absolute;
    overflow: hidden;
}


/******POSE******/

.oskar_end_pose {
    top: 30%;
    left: 45%;
}


/******MOVE RIGHT******/

.move_right {
    animation-name: move_right_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes move_right_kf {
    0% {
        top: 28%;
        left: 5%;
        transform: scale(.89)
    }
    100% {
        top: 30%;
        left: 45%;
        transform: scale(1)
    }
}


/************************************OSKAR CONTAINER SLUT************************************/

/************************************DRENG1 SPRITE************************************/

#dreng1_sprite {
    background-image: url(media/dreng1_spritesheet.svg);
    width: 26vw;
    height: 40.00vw;
    background-size: 900%;
}


/******START POSE******/

.dreng1_start_pose {
    background-position: 0 50%;
}


/******SLET BILLEDE POSE******/

.dreng1_slet {
    background-position: 0 100%;
}


/******LAUGHCYCLE******/

.dreng1_laughcycle {
    animation-name: dreng1_laughcycle_kf;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    animation-fill-mode: both;
}

@keyframes dreng1_laughcycle_kf {
    0% {
        background-position: 0% 75%;
    }
    100% {
        background-position: -400% 75%;
    }
}


/******WALKCYCLE******/

.dreng1_walkcycle {
    animation-name: dreng1_walkcycle_kf;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    animation-fill-mode: both;
}

@keyframes dreng1_walkcycle_kf {
    0% {
        background-position: 0% 25%;
    }
    100% {
        background-position: -400% 25%;
    }
}


/******PULL******/

.dreng1_pull {
    animation-name: dreng1_pull_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
    animation-fill-mode: both;
}

@keyframes dreng1_pull_kf {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -900% 0%;
    }
}


/************************************DRENG1 SPRITE SLUT************************************/

/************************************DRENG1 CONTAINER************************************/

#dreng1_container {
    position: absolute;
    overflow: hidden;
}

.dreng1_start_pose {
    top: 30%;
    left: 15%;
}


/******TIL OSKAR******/

.dreng1_oskar {
    animation-name: dreng1_oskar_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes dreng1_oskar_kf {
    0% {
        top: 30%;
        left: 25%;
    }
    100% {
        top: 28%;
        left: 35%;
    }
}


/******STAA OSKAR******/

.dreng1_staa_oskar {
    top: 28%;
    left: 35%;
}


/******MOVE RIGHT******/

.dreng1_move_right {
    animation-name: dreng1_move_right_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes dreng1_move_right_kf {
    0% {
        top: 30%;
        left: -20%;
        transform: scale(0.89)
    }
    100% {
        top: 30%;
        left: 25%;
        transform: scale(1)
    }
}


/******MOVE LEFT******/

.dreng1_move_left {
    animation-name: dreng1_move_left_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes dreng1_move_left_kf {
    0% {
        top: 28%;
        left: 35%;
        transform: scaleX(-1);
    }
    100% {
        top: 30%;
        left: 15%;
        transform: scaleX(-1);
    }
}


/************************************DRENG1 CONTAINER SLUT************************************/

/************************************DRENG2 SPRITE************************************/

#dreng2_sprite {
    background-image: url(media/dreng2_spritesheet.svg);
    width: 28vw;
    height: 40.00vw;
    background-size: 400%;
}


/******START POSE******/

.dreng2_start_pose {
    background-position: 0 0;
}


/******SLET BILLEDE POSE******/

.dreng2_slet {
    background-position: 0 32%;
}


/******LAUGHCYCLE******/

.dreng2_laughcycle {
    animation-name: dreng2_laughcycle_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    animation-fill-mode: both;
}

@keyframes dreng2_laughcycle_kf {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: -400% 100%;
    }
}


/******WALKCYCLE******/

.dreng2_walkcycle {
    animation-name: dreng2_walkcycle_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    animation-fill-mode: both;
}

@keyframes dreng2_walkcycle_kf {
    0% {
        background-position: 0% 65%;
    }
    100% {
        background-position: -400% 65%;
    }
}


/************************************DRENG2 SPRITE SLUT************************************/

/************************************DRENG2 CONTAINER************************************/

#dreng2_container {
    position: absolute;
    overflow: hidden;
    top: 25%;
    left: 0;
}

.dreng2_move_right {
    animation-name: dreng2_move_right_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

@keyframes dreng2_move_right_kf {
    0% {
        top: 30%;
        left: -20%;
        transform: scale(0.89)
    }
    100% {
        top: 30%;
        left: 5%;
        transform: scale(1)
    }
}


/************************************DRENG2 CONTAINER SLUT************************************/

/************************************HÅND************************************/

#haand_container {
    position: absolute;
    overflow: hidden;
}

.foran_indhold {
    z-index: 1;
}

.haand_ind_pose {
    top: 25%;
    left: 2%;
}

.haand_billede_pose {
    animation-name: haand_billede_pose_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes haand_billede_pose_kf {
    0% {
        top: 25%;
        left: 2%;
    }
    100% {
        top: 22%;
        left: 22%;
    }
}

.haand_tilbage {
    animation-name: haand_tilbage_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes haand_tilbage_kf {
    0% {
        top: 22%;
        left: 22%;
    }
    100% {
        top: 25%;
        left: 2%;
    }
}

.haand_start_pose {
    top: 14%;
    left: -100%;
}

.haand_enter {
    animation-name: haand_enter_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes haand_enter_kf {
    0% {
        top: 14%;
        left: -100%;
    }
    100% {
        top: 25%;
        left: 2%;
    }
}


/***SPRITE***/

#haand_sprite {
    background-image: url(media/haand_tlf_asset_og_spritesheet-1111-01-01.svg);
    width: 53vw;
    height: 55vw;
    background-size: 1100%;
}



.haand_rolig {
    background-position: 0% 0%;
}

.haand_tryk {
    animation-name: haand_tryk_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(11);
    animation-direction: alternate-reverse;
    animation-delay: 1s;
}

@keyframes haand_tryk_kf {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: -1100% 100%;
    }
}


.haand_tryk_2 {
    animation-name: haand_tryk_2_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(3);
    animation-direction: alternate-reverse;
    animation-delay: 0.2s;
}

@keyframes haand_tryk_2_kf {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: -300% 100%;
    }
}


/************************************HÅND SLUT************************************/

/************************************INDHOLD************************************/

#indhold_container {
    position: absolute;
    width: 18vw;
    height: 24vw;
    top: 42%;
    left: 30%;
    transform: skewX(-4deg) rotateY(4deg);
    background-color: black;
}

.pulse {
    animation: pulse_kf 0.5s infinite alternate linear;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

.pulse2 {

    animation: pulse_kf 0.5s infinite alternate linear;
    animation-iteration-count: 3;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}


.billede_1 {
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-image: url(nudes/1.png);
    position: absolute;
}

.billede_2 {
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-image: url(nudes/2.png);
    position: absolute;
}

.billede_3 {
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-image: url(nudes/3.png);
    position: absolute;
}

.billede_4 {
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-image: url(nudes/4.png);
    position: absolute;
}

.billede_5 {
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-image: url(nudes/5.png);
    position: absolute;
}

.billede_6 {
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-image: url(nudes/6.png);
    position: absolute;
}

.billede_7 {
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-image: url(nudes/7.png);
    position: absolute;
}

.billede_8 {
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-image: url(nudes/8.png);
    position: absolute;
}

.billede_9 {
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-image: url(nudes/9.png);
    position: absolute;
}

#billede_10 {
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-image: url(media/delete.png);
    position: absolute;
}

#billede_11 {
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-image: url(Asset%201.svg);
    position: absolute;
}

.pos01 {
    top: 37%;
    left: 34%;
}

.pos1 {
    top: 10%;
    left: 3%;
}

.pos2 {
    top: 10%;
    left: 34%;
}

.pos3 {
    top: 10%;
    left: 66%;
}

.pos4 {
    top: 37%;
    left: 3%;
}

.pos5 {
    top: 37%;
    left: 34%;
}

.pos6 {
    top: 37%;
    left: 66%;
}

.pos7 {
    top: 65%;
    left: 3%;
}

.pos8 {
    top: 65%;
    left: 34%;
}

.pos9 {
    top: 65%;
    left: 66%;
}



/************************************INDHOLD SLUT************************************/
